header {
    color: #FFADAD;
}

h3 {
    color: #FFD6A5;  
}

Table of Contents {
    color: #FDFFB6;
}

About Me {
    color: #CAFFBF;
}

h4 {
    color: #BDB2FF;
}

body {
    background-color: #FFFFFC;
}

